<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cloud Functions for Firebase (Stripe example)</title>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div id="firebaseui-auth-container"></div>
        <div id="loader">&hellip;</div>
        <div v-if="currentUser">
          <h2>Hello {{ currentUser.email }},</h2>
          <button v-on:click="signOut">Sign out</button>
          <div v-if="stripeCustomerInitialized">
            <h3>Credit Cards</h3>
            <ul>
              <li v-for="(source, id) in sources">
                <span v-if="source.id">
                  {{ source.brand }} &hellip;{{ source.last4 }}
                  (exp. {{ source.exp_month }}/{{ source.exp_year }})
                </span>
                <span v-else>&hellip;</span>
              </li>
            </ul>
            <div>
              <h4>New</h4>
              <div>
                <label>
                  Number <input v-model="newCreditCard.number">
                </label>
              </div>
              <div>
                <label>
                  CCV <input v-model="newCreditCard.cvc">
                </label>
              </div>
              <div>
                <label>
                  Exp
                  <input v-model="newCreditCard.exp_month" size="2"> /
                  <input v-model="newCreditCard.exp_year" size="4">
                </label>
              </div>
              <div>
                <label>
                  Zip <input v-model="newCreditCard.address_zip">
                </label>
              </div>
              <div>
                <button v-on:click="submitNewCreditCard">Add</button>
                {{ newCreditCard.error }}
              </div>
            </div>
            <h3>Charges</h3>
            <ul>
              <li v-for="(charge, id) in charges">
                {{ charge.amount }}
                <span v-if="charge.error">
                  {{ charge.error }}
                </span>
                <span v-else-if="charge.outcome">
                  {{ charge.outcome.seller_message }}
                  {{ charge.source.brand }} &hellip;{{ charge.source.last4 }}
                  (exp. {{ charge.source.exp_month }}/{{ charge.source.exp_year }})
                </span>
                <span v-else>&hellip;<span>
              </li>
            </ul>
            <h4>New</h4>
            <div>
              <label>
                Card
                <select v-model="newCharge.source">
                  <option :value="null">Default payment method</option>
                  <option v-for="(source, id) in sources" v-bind:value="source.id" v-if="source.id">
                    {{ source.brand }} &hellip;{{ source.last4 }}
                    (exp. {{ source.exp_month }}/{{ source.exp_year }})
                  </option>
                </select>
              </label>
            </div>
            <div>
              <label>
                Amount <input v-model="newCharge.amount">
              </label>
            </div>
            <div>
              <button v-on:click="submitNewCharge">Charge</button>
              {{ newCharge.error }}
            </div>
          </div>
          <div v-else>&hellip;</div>
        </div>
      </div>
    </div>

    <!-- Import and configure the Firebase SDK -->
    <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
    <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
    <script src="/__/firebase/3.9.0/firebase-app.js"></script>
    <script src="/__/firebase/3.9.0/firebase-auth.js"></script>
    <script src="/__/firebase/3.9.0/firebase-database.js"></script>
    <script src="/__/firebase/init.js"></script>

    <!-- Import Firebase UI -->
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>

    <script>
      Stripe.setPublishableKey( 'pk_test_Mx0RxMR8nBPuj3jkiiTljn4K' );
      var firebaseUI = new firebaseui.auth.AuthUI(firebase.auth());
      var firebaseAuthOptions = {
        callbacks: {
          signInSuccess: (currentUser, credential, redirectUrl) => { return false; },
          uiShown: () => { document.getElementById('loader').style.display = 'none'; }
        },
        signInFlow: 'popup',
        signInSuccessUrl: '/',
        signInOptions: [ firebase.auth.GoogleAuthProvider.PROVIDER_ID ],
        tosUrl: '/'
      };
      firebase.auth().onAuthStateChanged(firebaseUser => {
        if (firebaseUser) {
          document.getElementById('loader').style.display = 'none';
          app.currentUser = firebaseUser;
          app.listen();
        } else {
          firebaseUI.start('#firebaseui-auth-container', firebaseAuthOptions);
          app.currentUser = null;
        }
      });
      var app = new Vue({
        el: '#app',
        data: {
          currentUser: null,
          sources: {},
          stripeCustomerInitialized: false,
          newCreditCard: {
            number: '4242424242424242',
            cvc: '111',
            exp_month: 1,
            exp_year: 2020,
            address_zip: '00000'
          },
          charges: {},
          newCharge: {
            source: null,
            amount: 2000
          }
        },
        ready: () => {
        },
        methods: {
          listen: function() {
            firebase.database().ref(`/stripe_customers/${this.currentUser.uid}/customer_id`).on('value', snapshot => {
              this.stripeCustomerInitialized = (snapshot.val() !== null);
            }, () => {
              this.stripeCustomerInitialized = false;
            });
            firebase.database().ref(`/stripe_customers/${this.currentUser.uid}/sources`).on('value', snapshot => {
              this.sources = snapshot.val();
            }, () => {
              this.sources = {};
            });
            firebase.database().ref(`/stripe_customers/${this.currentUser.uid}/charges`).on('value', snapshot => {
              this.charges = snapshot.val();
            }, () => {
              this.charges = {};
            });
          },
          submitNewCreditCard: function() {
            Stripe.card.createToken({
              number: this.newCreditCard.number,
              cvc: this.newCreditCard.cvc,
              exp_month: this.newCreditCard.exp_month,
              exp_year: this.newCreditCard.exp_year,
              address_zip: this.newCreditCard.address_zip
            }, (status, response) => {
              if (response.error) {
                this.newCreditCard.error = response.error.message;
              } else {
                firebase.database().ref(`/stripe_customers/${this.currentUser.uid}/sources`).push({token: response.id}).then(() => {
                  this.newCreditCard = {
                    number: '',
                    cvc: '',
                    exp_month: 1,
                    exp_year: 2017,
                    address_zip: ''
                  };
                });
              }
            });
          },
          submitNewCharge: function() {
            firebase.database().ref(`/stripe_customers/${this.currentUser.uid}/charges`).push({
              source: this.newCharge.source,
              amount: parseInt(this.newCharge.amount)
            });
          },
          signOut: function() {
            firebase.auth().signOut()
          }
        }
      });
    </script>
  </body>
</html>
